.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml

scripts/

client/
!client/dist/
!client/package.json
server/
!server/dist/
!server/package.json
